<div class="card">
  <header class="card-header bg-secondary white">
    <i class="icon-menu"></i> Categorias
  </header>
  <ul class="menu-category">
    <li *ngFor="let category of categories"> 
      <a routerLink="/products" [queryParams]="{ category:category.id }">{{category.name}}</a>
    </li>
  </ul>
</div>
