<div class="card card-filter">
  <article class="card-group-item">
    <header class="card-header">
      <a class="" aria-expanded="true" href="#" data-toggle="collapse" data-target="#collapse22">
        <i class="icon-action fa fa-chevron-down"></i>
        <h6 class="title">Categoria</h6>
      </a>
    </header>
    <div style="" class="filter-content collapse show" id="collapse22">
      <div class="card-body">
        <form class="pb-3">
          <div class="input-group">
            <input class="form-control" placeholder="Search" type="text">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>

        <ul class="list-unstyled list-lg">
          <li><a href="#">Cras justo odio <span class="float-right badge badge-light round">142</span> </a></li>
          <li><a href="#">Dapibus ac facilisis  <span class="float-right badge badge-light round">3</span>  </a></li>
          <li><a href="#">Morbi leo risus <span class="float-right badge badge-light round">32</span>  </a></li>
          <li><a href="#">Another item <span class="float-right badge badge-light round">12</span>  </a></li>
        </ul>
      </div> <!-- card-body.// -->
    </div> <!-- collapse .// -->
  </article> <!-- card-group-item.// -->
  <article class="card-group-item">
    <header class="card-header">
      <a href="#" data-toggle="collapse" data-target="#collapse33">
        <i class="icon-action fa fa-chevron-down"></i>
        <h6 class="title">Preço</h6>
      </a>
    </header>
    <div class="filter-content collapse show" id="collapse33">
      <div class="card-body">
        <input type="range" class="custom-range" min="0" max="100" name="">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Min</label>
            <input class="form-control" placeholder="R$ 0" type="number">
          </div>
          <div class="form-group text-right col-md-6">
            <label>Max</label>
            <input class="form-control" placeholder="R$ 1000" type="number">
          </div>
        </div> <!-- form-row.// -->
        <button class="btn btn-block btn-outline-primary">Filtrar</button>
      </div> <!-- card-body.// -->
    </div> <!-- collapse .// -->
  </article> <!-- card-group-item.// -->
</div> <!-- card.// -->
