<figure class="card card-product">
  <div class="img-wrap">
    <a routerLink="#">
      <img src="{{product.picture}}">
    </a>
  </div>
  <figcaption class="info-wrap">
    <a routerLink="#" class="title">{{product.name}}</a>
    <div class="action-wrap">
      <div class="price-wrap h5">
        <span class="price-new">R${{product.price | number:'1.2-2' }}</span>
        <!-- <del class="price-old">$1980</del> -->
      </div> <!-- price-wrap.// -->
    </div> <!-- action-wrap -->
  </figcaption>
  <a routerLink="#" class="btn btn-primary btn-sm float-right"><i class="fas fa-cart-plus"></i> Adicionar ao carrinho </a>
</figure> <!-- card // -->