<section class="section-content bg padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-sm-3">
        <app-category-menu></app-category-menu>
      </aside>
      <main class="col-sm-9">
        <div class="row">
          <app-product-item class="col-md-3" *ngFor="let product of products" [product]="product"></app-product-item>
        </div>
      </main> 
    </div>

  </div> 
</section>
