<header class="section-header">
  <section class="header-main shadow">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-sm-4">
          <a routerLink="/">
            <div class="brand-wrap">
              <img class="logo" src="images/loja.png">
              <h2 class="logo-text">Loja PUC</h2>
            </div> <!-- brand-wrap.// -->
          </a>
        </div>
        <div class="col-lg-6 col-sm-8">
          <form class="search-wrap">
            <div class="input-group w-100">
              <input type="text" class="form-control" style="width:55%;" placeholder="Buscar">
              <div class="input-group-append">
                <button class="btn btn-primary" onclick="return false;">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-6-24 col-sm-7 col-8  order-2  order-lg-3">
          <div class="d-flex justify-content-end">
            <div class="widget-header">
              <small class="title text-muted">Seja bem vindo!</small>
              <div>
                <a routerLink="#">Entrar</a> <span class="dark-transp"> | </span>
                <a routerLink="#"> Registrar</a>
              </div>
            </div>
            <a routerLink="#" class="widget-header border-left pl-3 ml-3">
              <div class="icontext">
                <div class="icon-wrap icon-sm round border"><i class="fa fa-shopping-cart"></i></div>
              </div>
              <span class="badge badge-pill badge-danger notify">0</span>
            </a>
          </div> <!-- widgets-wrap.// -->
        </div>
      </div> <!-- row.// -->
    </div> <!-- container.// -->
  </section> <!-- header-main .// -->
</header>