<footer class="section-footer bg-secondary">
  <div class="container">
    <section class="footer-top padding-top">
      <div class="row">
        <aside class="col-sm-3 col-md-3 white">
          <h5 class="title">Ajuda</h5>
          <ul class="list-unstyled">
            <li> <a routerLink="#">Atendimento</a></li>
            <li> <a routerLink="#">Chat</a></li>
            <li> <a routerLink="#">Perguntas frequentes</a></li>
          </ul>
        </aside>
        <aside class="col-sm-3  col-md-3 white">
          <h5 class="title">Minha conta</h5>
          <ul class="list-unstyled">
            <li> <a routerLink="#">Acessar minha conta</a></li>
            <li> <a routerLink="#">Criar conta</a></li>
            <li> <a routerLink="#">Meus pedidos</a></li>
          </ul>
        </aside>
        <aside class="col-sm-3  col-md-3 white">
          <h5 class="title">Loja</h5>
          <ul class="list-unstyled">
            <li> <a routerLink="#">Sobre a loja</a></li>
            <li> <a routerLink="#">Serviços</a></li>
            <li> <a routerLink="#">Nossas lojas</a></li>
          </ul>
        </aside>
        <aside class="col-sm-3">
          <article class="white">
            <h5 class="title">Contato</h5>
            <p>
              <strong>Telefone: </strong>(81) 3333-3333<br>
              <strong>Horário de funcionamento:</strong><br>
              <span>Segunda a sexta-feira 08:00h às 18:00h</span>
            </p>

            <div class="btn-group white">
              <a class="btn btn-facebook" title="Facebook"  routerLink="#"><i class="fab fa-facebook-f  fa-fw"></i></a>
              <a class="btn btn-instagram" title="Instagram"  routerLink="#"><i class="fab fa-instagram  fa-fw"></i></a>
              <a class="btn btn-youtube" title="Youtube" routerLink="#"><i class="fab fa-youtube  fa-fw"></i></a>
              <a class="btn btn-twitter" title="Twitter" routerLink="#"><i class="fab fa-twitter  fa-fw"></i></a>
            </div>
          </article>
        </aside>
      </div> <!-- row.// -->
      <br>
    </section>
    <section class="footer-bottom row border-top-white">
      <div class="col-sm-6 text-right">
        <p class="text-sm-right text-white-50">
        </p>
      </div>
    </section> <!-- //footer-top -->
  </div><!-- //container -->
</footer>
